input[type=text] {
    border: 2px;
    padding: 20px 10px;
    color: black;
    font-weight: 400;
   
  }

 .textfield___label{
    color: #2D1252 !important;
    padding: 5px;
    margin-left: 10px;
    margin-top: 3px;

 }

 .error__message{
    background: -webkit-linear-gradient(45deg, #CF9DDC, white, #89EBCF 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 2em;
 }