
.App {
  text-align: center;
 
  
 
}

.CloudApp{
  
}

body{
  background-image: url("media/mountain.jpg");
  -webkit-background-size: contain;
  -moz-background-size: 100%;
  -o-background-size: cover;
  background-size: 100%;
  background-attachment: fixed;
}

@media(max-width: 950px){
  body{
    -webkit-background-size: cover;
  }
}

@media(min-height: 780px){
  body{
    -webkit-background-size: cover;
  }
}