.App {
  text-align: center;
 
}

body{
  background-image: url("media/mountain.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}