.App {
}

html {
  background-color: #4361ee;
}

/* @media (max-width: 950px) {
  body {
    -webkit-background-size: cover;
  }
}

@media (min-height: 780px) {
  body {
    -webkit-background-size: cover;
  }
} */
