.instructionsWrapper{
    color: #E9DBEE;
    background-color: #14394B;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 10px;
    opacity: .9;
    height: 50%;
    padding-bottom: 20px;
    padding-top: 20px;
    
    border-radius: 16px;
   
   
 }
