.scrollUpBtn{
    scroll-behavior: smooth;
    position: -webkit-sticky;
    right: 95%;
    position: fixed;
    border-radius: 16px;
    z-index: 1000;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    padding: 12px 0px 12px 0px;
    border: 1px solid white;
    background-color: #BB48B6;
    margin: 0;
    float:left;
    bottom: 150px;
    box-shadow: 10em;
}




/* bottom: "150px", */


@media(max-width: 1200px){
    .scrollUpBtn{
        right: 97.4%;
    }
}

@media(max-width: 1100px){
    .scrollUpBtn{
        right: 95%;
    }
}

@media(max-width: 950px){
    .scrollUpBtn{
        right: 97%;
    }
}

@media(max-width: 850px){
    .scrollUpBtn{
        right: 93%;
    }
}

@media(max-width: 450px){
    .scrollUpBtn{
        right: 90.2%;
    }
}
@media(max-width: 310px){
    .scrollUpBtn{
        right: 91.2%;
        padding: 5px 0px 1px 0px;
    }
}


@media(min-height: 1000px){
    .scrollUpBtn{
        bottom: 350px;
    }
}

@media(min-height: 1200px){
    .scrollUpBtn{
        bottom: 700px;
    }
}