@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
$primary-font: "Montserrat Alternates", sans-serif;
$secondary-font: "Hind", sans-serif;

$font-sizes: (
  "largest": 48.83px,
  "large": 39.06px,
  "medium-large": 31.25px,
  "medium": 25px,
  "medium-small": 20px,
  "small": 16px,
  "smallest": 12px,
);

$colors: (
  "Flickr-Pink": #f72585,
  "Byzantine": #b5179e,
  "Purpled": #7209b7,
  "Dark-purple": #560bad,
  "Trypan-Blue": #480ca8,
  "Trypan-Blue-Dark": #3a0ca3,
  "Persian-Blue": #3f37c9,
  "Ultramarine-Blue": #4361ee,
  "Dodger-Blue": #4895ef,
  "Vivid-Sky-Blue": #42b2d4,
);

$breakpoints: (
  "tablet": 768px,
  "mobile": 480px,
);
