.cloudBtnWrapper{
    background: -webkit-linear-gradient(45deg, #CF9DDC, white, #89EBCF 80%);
    width: 320px;
    margin: 0 650px 0 650px;

    opacity: .7;
 
  

  
    border-radius: 16px;
 }

 /* @media(max-width:1500px){
     .cloudBtnWrapper{
        margin: 0 450px 0 450px;

     }
 }

 @media(max-width:1200px){
    .cloudBtnWrapper{
       margin: 0 350px 0 350px;

    }
}

@media(max-width:1000px){
    .cloudBtnWrapper{
       margin: 0 200px 0 200px;

    }
}

@media(max-width:1000px){
    .cloudBtnWrapper{
       margin: 0 100px 0 100px;

    }
} */