.cloudBtnWrapper{
    background: -webkit-linear-gradient(45deg, #CF9DDC, white, #89EBCF 80%);
    width:25%;
    margin-left: 37%;
    opacity: .7;
    height: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 16px;
 }