.app-outer{
    background-color:#D3E8E2;
    border: solid #14394B;
    
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    width: 50%;
}

svg * { transform-origin: 50% }

@keyframes left {
  100% { transform: rotate(-360deg) }
}

@keyframes right {
  100% { transform: rotate(360deg) }
}