.outerContainer{
    position: relative;
    display: inline-block;
    height: 100%;
   
  
}

.cloudTitle{
  color: #E9DBEE;
  background-color: #14394B;
  padding: 20px;
  margin: 20px;
  margin-right: 250px;
  margin-left: 250px;
  opacity: .9;
  border-radius: 16px;
}

.cloud{
  z-index: 100;
  margin-top: 35.27%;
  width: 53%;
  height: 53.2%;
  position: absolute;
  left: 23.3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  background-image: linear-gradient( #5178A3, #3FB07B);
  border-radius: 16px;
  color: #D8E9FA;

}

/*.cloud{
  
  color: white;
    height: 580px;
    z-index: 100;
    position: absolute;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    background-image: linear-gradient( #5178A3, #3FB07B);
    border-radius: 16px;
    padding: 0px;
 
}*/

/*.app-outer{
  
    
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    width: 50%;
} */


/*@media(max-width:1800px){
  .cloud{
    margin-top: 30vh;
    width: 35%;
    height: 630px;
  }
}

@media(max-width:1700px){
  .cloud{
    margin-top: 25vh;
    width: 35%;
    height: 590px;
  }
}*/