.cloud{
  color: white;
    z-index: 100;
    position: absolute;
    margin-top: 42vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 39%;
    background-image: linear-gradient( #5178A3, #3FB07B);
    border-radius: 16px;
 
}

.app-outer{
  
    
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    width: 50%;
}

svg * { transform-origin: 50% }

@keyframes left {
  100% { transform: rotate(-360deg) }
}

@keyframes right {
  100% { transform: rotate(360deg) }
}